html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #d1d1d1;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #404040;
	margin: 0;
	padding: 0px;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
	color: #404040;
}

h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #404040;
}

h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #404040;
}

p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #404040;
}

q {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #404040;
}

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	color: #404040;
}

pre {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: #404040;
}

header {
	width: 100%;
	margin-top: 0px;
	text-align: center;
	background: #cccccc;
}

footer {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: white;
	position: absolute;
	bottom: 0%;
	width: 100%;
	text-align: center;
	background: #888888;
}

input {
	background-color: #cccccc;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: #404040;
	margin-top: 10x;
}

input:hover {
	background-color: #4CAF50;
	color: white;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100px;
	margin: 0px;
	height: 8px;
}

th {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 18.5714px;
	border: 1px solid black;
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
	text-align: left;
}

table,
td {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	border: 1px solid black;
	border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
	background-color: #d9d9d9;
}

table#t01 tr:nth-child(odd) {
	background-color: #f2f2f2;
}

label {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	text-align: center;
	padding-top: 0x;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #404040;
	border: none;
	cursor: pointer;
	background-color: #cccccc;
}

label:hover {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	border: none;
	background-color: #4CAF50;
	color: white;
}

label:active {
	background-color: #4CAF50;
	transform: translateY(2px);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

ol {
	list-style-type: upper-roman;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: #404040;
}

li.active {
	text-align: center;
}

li.inactive {
	text-align: center;
}

li.inactive:hover {
	background-color: #4CAF50;
	text-align: center;
}

a {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: #404040;
}

a.linkjson:link {
	background-color: #d9d9d9;
	padding: 3px 5px;
	text-decoration: none;
}

a.linkjson:hover {
	background-color: #4CAF50;
	color: white;
	padding: 2px 5px;
	text-decoration: none;
}

a.bunt:link {
	color: #ff66ff;
}

a.bunt:visited {
	color: #00cc99;
}

a.bunt:hover {
	color: #4CAF50;
}

a.bunt:active {
	color: #33ccff;
}

#map {
	height: 100%;
	width: 100%;
}

#leg,
#leg_title {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 100px;
	padding: 10px;
	background: rgba(34, 34, 34, 1);
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	border-radius: 3px;
	max-height: 80%;
	overflow: auto;
}

#leg_title {
	top: 10px;
}

#leg_items {
	position: relative;
	margin-left: 5px;
	top: -1px
}

#delete {
	position: absolute;
	top: 50px;
	right: 10px;
	z-index: 100;
	background: white;
	color: black;
	padding: 6px;
	border-radius: 4px;
	font-family: 'Helvetica Neue';
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
}

.box {
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	margin-top: 10px;
}

.button {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	background-color: #d9d9d9;
	color: #404040;
	border: none;
	cursor: pointer;
}

.button:hover {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	border: none;
	background-color: #4CAF50;
	color: white;
}

.button:active {
	background-color: #4CAF50;
	transform: translateY(2px);
}

.buttonwhite {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	background-color: white;
	color: #404040;
	border: none;
	cursor: pointer;
}

.buttonwhite:hover {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	border: none;
	background-color: #4CAF50;
	color: white;
}

.buttonwhite:active {
	background-color: #4CAF50;
	transform: translateY(2px);
}

img.icon {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

img.icon:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.dropbtn {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0x;
	padding-bottom: 0px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1
}

.show {
	display: block;
}

.cleantable,
.cleantable tr,
.cleantable tbody td,
.cleantable thead th,
.cleantable tfoot th {
	border: none;
}