body {
    background-image: url("background_light.jpg");
}

html, body {
    height : 100%;
}

/** map page */
#map {
    height:50vw;
    max-height: 600px;
    width:50vw;
    max-width: 600px;
}

#find_btn {
    top: 10px;
}

#move {
    margin-right: 10px;
}

/* main page */
#globe_pic {
    max-height: 20%;
    max-width: 20%;
}

.mainpage_container {
    position: relative;
    top: 10px;
    left: 10px;
}

/* imprint */
#imp {
    text-align: center;
}

