body {
    background-image: url("background_light.jpg");
}

#mapid {
width: 100%;
max-width: 400px;
height: 400px;
position: relative;
top: 0;
left: 10px;

transition: height 0.5s ease-in-out;
}

#globe_pic {
    max-height: 20%;
    max-width: 20%;
}

.container_main {
    position: relative;
    top: 10px;
    left: 10px;
}

#find_btn {
    position: relative;
    left: 10px;
    top: 10px;
    right: 10px;
}

#gJ { /* GeoJSON bar */
    position: relative;
    left: 10px;
    right: 10px;
}

#imp {
    text-align: center;
}

#move{
    margin-right: 10px;
}