body {
    background-image: url("http://i.imgur.com/Nbi7bYI.jpg");
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(68, 71, 76);
    font-size: 66px;
    text-align: center;
}

#git_pic {
    width: 10%;
    height: auto;
    max-height: 120px;
    margin-left: 87.5%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 71, 76);
    font-size: 25px;
}

.txt1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 71, 76);
    font-size: 15px;
}

#n_btn {
    border: rgb(68, 71, 76) solid 3px;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(68, 71, 76);
    padding: 16px;
    font-size: 16px;
    min-width: 50%;
}

.link_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* building dropdown menu using modified W3Schools code
   source:  https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button
 */

.dropbtn {
    border: rgb(68, 71, 76) solid 3px;
    background: rgba(255, 255, 255, 0.7) ;
    color: rgba(68, 71, 76, 1.0);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    min-width: 160px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 71, 76);
    font-size: 15px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 1.0);
}
